@model HSM.Models.RegisterViewModel


    <head>
        <style>
            body {
                background-image: url(../images/cover5.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>

<div class="text-center">
    <h1 class="display-4" style="color:white;">Hotel Management System</h1>
    <p style="font-size: 24px; color:white;">
        We help make you feel like you're at home.
    </p>
</div>


<div class="container-fluid mt-3 mb-5">

    <div class="mask d-flex justify-content-center align-items-center">

        <div class="container py-5 my-5">
            <h2  style="color:white;">Register</h2>
            <div class="row">
                <div class="col-md-8">
                    <section id="registrationForm">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4  style="color:white;">Create a new account.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>
                        }
                    </section>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
 </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
